@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/* line 10, sass/partials/_base.scss */
body {
  font-family: 'Rambla',sans-serif;
  background-color: #dadfe1;
  margin: 0px;
  text-align: 10px;
}

/* line 17, sass/partials/_base.scss */
h1 {
  color: #2c3e50;
  font-size: 3em;
  padding: 10px;
}

/* line 23, sass/partials/_base.scss */
p {
  font-size: 18px;
}

/* line 27, sass/partials/_base.scss */
a {
  font-size: 14px;
  text-decoration: none;
}

/* line 32, sass/partials/_base.scss */
.italics {
  font-style: italic;
  font-size: 1em;
}

/* line 37, sass/partials/_base.scss */
.bold_statement {
  letter-spacing: 2px;
  font-style: bold;
  text-transform: uppercase;
}

/* line 43, sass/partials/_base.scss */
.footer_bar {
  text-align: center;
  background-color: #1e824c;
  padding: 10px;
}
/* line 47, sass/partials/_base.scss */
.footer_bar span {
  color: #f2f1ef;
  font-size: 12px;
  padding: 5px;
}

/* line 54, sass/partials/_base.scss */
.content {
  background-color: #f2f1ef;
}

/* line 58, sass/partials/_base.scss */
.content_secondary {
  color: #f2f1ef;
  background-color: #104428;
}

/* line 63, sass/partials/_base.scss */
.content_tertiary {
  color: #f2f1ef;
  background-color: #26a65b;
}

/* line 68, sass/partials/_base.scss */
.fixed_280 {
  height: 280px;
}

/*
==================IMAGES NAVIGATION====================
*/
/* line 77, sass/partials/_base.scss */
img.main {
  max-width: 100%;
}

/* line 81, sass/partials/_base.scss */
img.ri {
  max-width: 50%;
}

/* line 85, sass/partials/_base.scss */
img.banner {
  max-width: 100%;
}

/*
==================TABLET BASICS====================
*/
@media screen and (max-width: 968px) {
  /* line 94, sass/partials/_base.scss */
  h1 {
    color: #dadfe1;
    font-size: 2em;
    padding: 0px;
    margin: 0px;
  }

  /* line 100, sass/partials/_base.scss */
  h2 {
    font-size: 1.5em;
  }

  /* line 103, sass/partials/_base.scss */
  h3 {
    font-size: 1em;
  }

  /* line 106, sass/partials/_base.scss */
  .nav li a {
    font-size: 0.75em;
  }

  /* line 109, sass/partials/_base.scss */
  p {
    font-size: 1em;
  }

  /* line 112, sass/partials/_base.scss */
  .italics {
    font-size: 0.9em;
  }

  /* line 115, sass/partials/_base.scss */
  a {
    padding: 10px 20px;
  }

  /* line 118, sass/partials/_base.scss */
  .fixed_280 {
    height: auto;
  }
}
/*
==================MOBILE BASICS====================
*/
@media screen and (max-width: 640px) {
  /* line 128, sass/partials/_base.scss */
  h1 {
    color: #dadfe1;
    font-size: 2em;
    padding: 0px;
    margin: 0px;
  }

  /* line 134, sass/partials/_base.scss */
  p {
    font-size: 1.0em;
  }

  /* line 137, sass/partials/_base.scss */
  .content {
    height: auto;
  }
  /* line 139, sass/partials/_base.scss */
  .content p {
    font-size: 1em;
  }

  /* line 143, sass/partials/_base.scss */
  .italics {
    font-size: 1em;
  }

  /* line 146, sass/partials/_base.scss */
  .content_secondary {
    height: auto;
  }

  /* line 149, sass/partials/_base.scss */
  .content_tertiary {
    height: auto;
  }

  /* line 152, sass/partials/_base.scss */
  .fixed_280 {
    height: auto;
  }
}
/*
==================DESKTOP NAVIGATION====================
*/
/* line 161, sass/partials/_base.scss */
.nav {
  background-color: #104428;
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
/* line 167, sass/partials/_base.scss */
.nav ul {
  padding: 0px;
  margin: 0px;
}
/* line 171, sass/partials/_base.scss */
.nav li {
  display: inline;
  padding: 10px;
  margin: 0px;
}
/* line 175, sass/partials/_base.scss */
.nav li:hover {
  box-shadow: 0px -5px 0px 0px #26a65b inset;
}
/* line 178, sass/partials/_base.scss */
.nav li:active {
  background-color: #1e824c;
}
/* line 182, sass/partials/_base.scss */
.nav a {
  font-size: 1em;
  color: #f2f1ef;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 30px;
  margin: 0px;
}

/*
==================HIDDEN NAVIGATION====================
*/
/* line 197, sass/partials/_base.scss */
.wrapper {
  position: relative;
  margin: 0 auto;
  padding: 20px;
}

/* line 203, sass/partials/_base.scss */
.menu-link {
  color: #f2f1ef;
  position: absolute;
  font-size: 1.5em;
  padding: 0 0.5em;
  background-color: #104428;
}
/* line 209, sass/partials/_base.scss */
.menu-link:hover {
  background-color: #26a65b;
}
/* line 212, sass/partials/_base.scss */
.menu-link:active {
  background-color: #1e824c;
}

/* line 217, sass/partials/_base.scss */
.subtitle {
  text-align: center;
  font-size: 1.125em;
  margin: .5em 0;
}

/* line 223, sass/partials/_base.scss */
.btn-list {
  margin: 3em 0;
  text-align: center;
}
/* line 226, sass/partials/_base.scss */
.btn-list li {
  display: inline-block;
}
/* line 228, sass/partials/_base.scss */
.btn-list li:first-of-type {
  margin-right: 1em;
}

/* line 234, sass/partials/_base.scss */
.btn {
  padding: 1em .5em;
  text-align: center;
  border-radius: 6px;
}
/* line 238, sass/partials/_base.scss */
.btn:hover {
  background: #16a085;
}
/* line 241, sass/partials/_base.scss */
.btn:active {
  background: #16a085;
}

/*
==================HIDDEN NAVIGATION PANEL====================
*/
/* line 250, sass/partials/_base.scss */
.panel {
  text-transform: uppercase;
  background: #1e824c;
  z-index: 9999;
  position: fixed;
  left: -15.625em;
  /*or width of your navigation panel*/
  width: 15.625em;
  /*should match the above value*/
}
/* line 257, sass/partials/_base.scss */
.panel ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
/* line 261, sass/partials/_base.scss */
.panel ul li {
  padding: 1em;
  box-shadow: 0px -1px 0px 0px #26a65b inset;
}
/* line 264, sass/partials/_base.scss */
.panel ul li:hover {
  background-color: #26a65b;
}
/* line 267, sass/partials/_base.scss */
.panel ul li:active {
  box-shadow: 0px -5px 0px 0px #104428 inset;
}
/* line 271, sass/partials/_base.scss */
.panel ul a {
  color: #dadfe1;
  padding: 1em;
}
/* line 274, sass/partials/_base.scss */
.panel ul a.nav_link {
  font-size: 1em;
}

/* line 281, sass/partials/_base.scss */
.nav-icon {
  margin-right: 6px;
}

/* line 1, sass/partials/_buttons.scss */
.btn {
  border: none;
  background: none;
  padding: 10px 10px;
  display: inline-block;
  margin: 8px 5px;
  text-transform: lowercase;
  text-decoration: none;
  outline: none;
  position: relative;
  border-radius: 0px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
}

/* line 17, sass/partials/_buttons.scss */
.default {
  color: #dadfe1;
  background-color: #1e824c;
}
/* line 20, sass/partials/_buttons.scss */
.default a {
  color: #f2f1ef;
}
/* line 23, sass/partials/_buttons.scss */
.default:hover {
  box-shadow: 0px -3px 0px 0px #26a65b inset;
  outline: 0 6px #104428;
  background-color: #1e824c;
}
/* line 28, sass/partials/_buttons.scss */
.default:active {
  background-color: #104428;
  top: 0px;
}

/* line 34, sass/partials/_buttons.scss */
.right {
  float: right;
  clear: both;
}

/* line 39, sass/partials/_buttons.scss */
.left {
  float: left;
}

/* line 43, sass/partials/_buttons.scss */
.bottom {
  position: absolute;
  bottom: 0px;
}

/* line 48, sass/partials/_buttons.scss */
.dark_highlight {
  color: #dadfe1;
  background-color: #1e824c;
}
/* line 51, sass/partials/_buttons.scss */
.dark_highlight a {
  color: #f2f1ef;
}
/* line 54, sass/partials/_buttons.scss */
.dark_highlight:hover {
  box-shadow: 0px -3px 0px 0px #104428 inset;
  outline: 0 6px #104428;
  background-color: #1e824c;
}
/* line 59, sass/partials/_buttons.scss */
.dark_highlight:active {
  background-color: #104428;
  top: 0px;
}
