body {
  font-family: Helvetica, Arial, sans-serif;
/*  margin: 0;*/
  background: #00ff00 url('../img/broken_noise.png')
}

a:active,
a:hover {
  outline: 0;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

img.ri {
  position: relative;
  max-width: 100%;
}

img.ri:empty {
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.content_text {
  margin: 15px 0 0 0;
  padding: 10px;
  background-color: #ecf0f1;
  font-size: 0.8em;
  clear: both;
}

.content_image {
  margin: 15px 0 0 0;
  padding: 5px;
  background-color: #ecf0f1;
  clear: both;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

@media (min-width: 640px) and (max-width: 1180px) {
  .show_on_large_screens {
    display: none;
  }
  .show_on_medium_screens {
    height:110px
  }
}

@media (min-width: 790px) and (max-width: 1180px) {
  .show_on_large_screens {
    display: none;
  }
  .show_on_medium_screens {
    display: none;
  }
}

@media (min-width: 1180px) {
  .show_on_large_screens {
    height: 60px;
  }
  .show_on_medium_screens {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .content_text {
    margin: 5px;
    padding: 5px;
    background-color: #ecf0f1;
    font-size: 0.75em;
  }

  .content_image {
    margin: 5px 0 0 0;
    padding: 5px;
    background-color: #ecf0f1;
  }
  .show_on_large_screens {
    display: none;
  }
  .show_on_medium_screens {
    display: none;
  }
}
