$back: #E2E4E7;

// HOME
// DESIGN
$red: #D91E18;
$red_light: #F22613;
$red_dark: #CF000F;

// APPS + WEB DESIGN
$blue: #3498DB;
$blue_light: #59ABE3;
$blue_dark: #1E8BC3;


// CONTACT
$grey: #ECECEC;

$white_off: #EEEEEE;
$black_off: #22313F;

$border_radius: 4px;

// SCREEN SIZES
$large_screen: 1170px;
$medium_screen: 768px;
$small_screen: 360px;
