
@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }


// BASIC FORMATTING
body {
	font-family: 'Rambla',sans-serif;
	background-color: $bkg_color;
	margin: 0px;
}

h1 {
	color: $bkg_dark;
	font-size: 3em;
	padding: 10px;
}

h4 {
	-webkit-margin-before: 1em;
	-webkit-margin-after: 0.5em;
}

p {
	font-size: 18px;
}

a {	
	color: $main_color_dark;
	text-decoration: none;
}

.external {
		line-height: 200%;
}

.italics {
	font-style: italic;
	font-size: 1em;
}

.bold_statement {
	letter-spacing: 2px;
	font-style: bold;
	text-transform: uppercase;
}

.footer_bar {
	text-align: center;
	background-color: $main_color;
	padding: 10px;
	span {
		color: $bkg_color_lighter;
		font-size: 12px;
		padding: 5px;
	}
	a {
		font-size: 12px;
		color: $bkg_color_lighter;
	}
}

.content {
	background-color: $bkg_color_lighter;
}

.content_secondary {
	color: $bkg_color_lighter;
	background-color: $main_color_dark;
}

.content_tertiary {
	color: $bkg_color_lighter;
	background-color: $main_color;
}

.fixed_240 {
	height: 240px;
}

.fixed_280 {
	height: 280px;
}

.arranmore_test {
	text-align: center;
	// background-color: $main_color;
}

.anchor_box {
	a {
		color: $bkg_color_lighter;
		font-size: 1.2em;
		line-height: 200%;
		&:hover {
			text-decoration: underline;
		}
	}
}

.insta_photo {
	padding: 0px;
}

/*
==================IMAGES NAVIGATION====================
*/

img.logo {
	max-width: 20%;
}

img.main {
	max-width: 100%;
}

img.ri {
	max-width: 50%;
}

img.banner {
	max-width: 100%;
}

/*
==================TABLET BASICS====================
*/

@media screen and (max-width: 968px) {
	h1 {
		color: $bkg_color;
		font-size: 2em;
		padding: 0px;
		margin: 0px;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1em;
	}
	.nav li a {
		font-size: 0.75em;
	}
	p {
		font-size: 1em;
	}
	.italics {
		font-size: 0.9em;
	}
	a {
		padding: 10px 20px;
	}
	.fixed_280 {
		height: auto;
	}
	.anchor_box {
		a {
			font-size: 0.7em;
			line-height: 150%;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

/*
==================MOBILE BASICS====================
*/

@media screen and (max-width: 640px) {
	h1 {
		color: $bkg_color;
		font-size: 2em;
		padding: 0px;
		margin: 0px;
	}
	p {
		font-size: 1.0em;
	}
	.content {
		height: auto;
		p {
			font-size: 1em;
		}
	}
	.italics {
		font-size: 1em;
	}
	.content_secondary {
		height: auto;
	}
	.content_tertiary {
		height: auto;
	}
	.fixed_280 {
		height: auto;
	}
	.fixed_240 {
		height: auto;
	}
	.anchor_box {
		a {
			font-size: 1em;
			line-height: 150%;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	img.logo {
		max-width: 40%;
	}
}

/*
==================DESKTOP NAVIGATION====================
*/

.nav {
	background-color: $main_color_dark;
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
	ul {
		padding: 0px;
		margin: 0px;		
	}
	li {
		display: inline;
		padding: 10px;
		margin: 0px;
		&:hover {
			box-shadow: 0px -5px 0px 0px $main_color_accent inset;
		}
		&:active {
			background-color: $main_color;
		}
	}
	a {
		font-size: 1em;
		color: $bkg_color_lighter;
		display: inline-block;
		text-decoration: none;
		text-transform: uppercase;
		padding: 10px 30px;
		margin: 0px;
	}
}

/*
==================HIDDEN NAVIGATION====================
*/

.wrapper {
  position: relative;
  margin: 0 auto;
}

.menu-link {
	color: $bkg_color_lighter;
	position: absolute;
  	font-size: 1.5em;
  	padding: 0 0.5em;
  	background-color: $main_color_dark;
  	&:hover {
		background-color: $main_color_accent;
  	}
  	&:active {
		background-color: $main_color;
  }
}

.subtitle {
  text-align: center;
  font-size: 1.125em;
  margin: .5em 0;
}

.btn-list {
  margin: 3em 0;
  text-align: center;
  li {
	display: inline-block;
  	&:first-of-type {
  		margin-right: 1em;
  	}
  }
}

.btn {
  padding: 1em .5em;
  text-align: center;
  border-radius: 6px;
  &:hover {
	background: #16a085;
  }
  &:active {
  	background: #16a085;
  }
}

/*
==================HIDDEN NAVIGATION PANEL====================
*/

.panel {
	text-transform: uppercase;
	background: $main_color;
	z-index: 9999;
	position: fixed;
	left: -15.625em; /*or width of your navigation panel*/
	width: 15.625em; /*should match the above value*/
	  ul {
	  	list-style-type: none;
	  	padding: 0px;
	  	margin: 0px;
	  li {
	  	padding: 1em;
	  	box-shadow: 0px -1px 0px 0px $main_color_accent inset;
	  	&:hover {
	  		background-color: $main_color_accent;
	  	}
	  }
	  a {
	  	color: $bkg_color;
	  	padding: 1em;
	  	&.nav_link {
	  		font-size: 1em;
	  	}
	  	}
	}
}

.nav-icon {
  margin-right: 6px;
}
