// Colours: http://www.flatuicolorpicker.com/all

// ============ Colors - simple greys ===================

$bkg_color: #DADFE1;
// 218, 223, 225

$bkg_color_lighter: #EEEEEE;
// 238, 238, 238

$bkg_dark: #BDC3C7;
// 189, 195, 199

// ============ Theme Color - updated - blue =========

$main_color: #3498DB;
// rgba(52, 152, 219, 1)

$main_color_accent: #22A7F0;
// 34, 167, 240

$main_color_dark: #1E8BC3;
// 30, 139, 195

$main_color_light: #6BB9F0;
// 107, 185, 240

// Accents - updated - orange
$main_color_opp: #F27935;
// 242, 121, 53

$main_color_accent_opp: #EB974E;
// 235, 151, 78

// ============ Social Colours ===============

// Other button colours
$facebook: #3b5998;
$facebook_highlight: #758ab6;

$twitter: #00aced;
$twitter_highlight: #8bdfff;

$google:#dd4b39;
$google_highlight: #e78174;

//  =========== transition times ============

$transition: all 0.1s;

// =========== variables ============

$outer_ring: 5px;
