@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/* line 10, sass/partials/_base.scss */
body {
  font-family: 'Rambla',sans-serif;
  margin: 0px;
}

/* line 16, sass/partials/_base.scss */
.bg_image {
  background-image: url("../img/arranmore_fast_ferry.jpg");
  background-size: cover;
  z-index: -100;
}

/* line 22, sass/partials/_base.scss */
.bg_overlay {
  background-color: rgba(189, 195, 199, 0.75);
  width: 100%;
  height: 100%;
}

/* line 28, sass/partials/_base.scss */
.content_overlay {
  margin-top: 5px;
  background-color: rgba(189, 195, 199, 0.75);
  box-shadow: 0px 2px 2px rgba(43, 48, 51, 0.3);
}

/* line 34, sass/partials/_base.scss */
.content_blue {
  margin-top: 5px;
  background-color: rgba(52, 152, 219, 0.5);
  box-shadow: 0px 2px 2px rgba(43, 48, 51, 0.3);
}

/* line 40, sass/partials/_base.scss */
.content_orange {
  margin-top: 5px;
  background-color: rgba(242, 121, 53, 0.5);
  box-shadow: 0px 2px 2px rgba(43, 48, 51, 0.3);
}

/* line 46, sass/partials/_base.scss */
.content {
  padding: 0px 30px;
}

/* line 50, sass/partials/_base.scss */
a {
  text-decoration: none;
}

/* line 54, sass/partials/_base.scss */
.important_text {
  font-weight: 700;
}

/* line 58, sass/partials/_base.scss */
.footer_text {
  font-size: 12px;
}

/*
==================HEADER====================
*/
/*
==================IMAGES NAVIGATION====================
*/
/* line 70, sass/partials/_base.scss */
img {
  max-width: 100%;
}

/*
==================TABLET BASICS====================
*/
/*
==================MOBILE BASICS====================
*/
/* line 1, sass/partials/_buttons.scss */
.btn {
  border: none;
  background: none;
  padding: 10px 20px;
  display: inline-block;
  margin: 8px 5px;
  text-transform: lowercase;
  text-decoration: none;
  outline: none;
  position: relative;
  border-radius: 0px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
}

/* line 17, sass/partials/_buttons.scss */
.default {
  color: #eeeeee;
  background-color: #3498db;
}
/* line 20, sass/partials/_buttons.scss */
.default a {
  color: #eeeeee;
}
/* line 23, sass/partials/_buttons.scss */
.default:hover {
  box-shadow: 0px -5px 0px 0px #22a7f0 inset;
  outline: 0 6px #1e8bc3;
  -webkit-transition: translateY(-100%) rotateX(90deg);
  -moz-transition: translateY(-100%) rotateX(90deg);
  transition: translateY(-100%) rotateX(90deg);
}
/* line 31, sass/partials/_buttons.scss */
.default:active {
  background-color: #1e8bc3;
  top: 0px;
}

/* line 37, sass/partials/_buttons.scss */
.dark_highlight {
  color: #eeeeee;
  background-color: #22a7f0;
}
/* line 40, sass/partials/_buttons.scss */
.dark_highlight a {
  color: #eeeeee;
}
/* line 43, sass/partials/_buttons.scss */
.dark_highlight:hover {
  box-shadow: 0px -5px 0px 0px #1e8bc3 inset;
  outline: 0 6px #1e8bc3;
  transition: all 0.1s;
}
/* line 48, sass/partials/_buttons.scss */
.dark_highlight:active {
  background-color: #1e8bc3;
  top: 0px;
}

/* line 54, sass/partials/_buttons.scss */
.btn_opposite {
  color: #eeeeee;
  background-color: #eb974e;
}
/* line 57, sass/partials/_buttons.scss */
.btn_opposite a {
  color: #eeeeee;
}
/* line 60, sass/partials/_buttons.scss */
.btn_opposite:hover {
  box-shadow: 0px -5px 0px 0px #f27935 inset;
  outline: 0 6px #f27935;
  transition: all 0.1s;
}
/* line 65, sass/partials/_buttons.scss */
.btn_opposite:active {
  background-color: #f27935;
  top: 0px;
}

/* line 74, sass/partials/_buttons.scss */
.facebook {
  background-color: #3498db;
}
/* line 76, sass/partials/_buttons.scss */
.facebook a {
  color: #eeeeee;
}
/* line 79, sass/partials/_buttons.scss */
.facebook:hover {
  box-shadow: 0px -3px 0px 0px #758ab6 inset;
  outline: 0 6px #1e8bc3;
  background-color: #3b5998;
}
/* line 84, sass/partials/_buttons.scss */
.facebook:active {
  background-color: #3b5998;
  top: 0px;
}

/* line 90, sass/partials/_buttons.scss */
.twitter {
  background-color: #3498db;
}
/* line 92, sass/partials/_buttons.scss */
.twitter a {
  color: #eeeeee;
}
/* line 95, sass/partials/_buttons.scss */
.twitter:hover {
  box-shadow: 0px -3px 0px 0px #8bdfff inset;
  outline: 0 6px #1e8bc3;
  background-color: #00aced;
}
/* line 100, sass/partials/_buttons.scss */
.twitter:active {
  background-color: #00aced;
  top: 0px;
}

/* line 106, sass/partials/_buttons.scss */
.google {
  background-color: #3498db;
}
/* line 108, sass/partials/_buttons.scss */
.google a {
  color: #eeeeee;
}
/* line 111, sass/partials/_buttons.scss */
.google:hover {
  box-shadow: 0px -3px 0px 0px #e78174 inset;
  outline: 0 6px #1e8bc3;
  background-color: #dd4b39;
}
/* line 116, sass/partials/_buttons.scss */
.google:active {
  background-color: #dd4b39;
  top: 0px;
}

/* line 125, sass/partials/_buttons.scss */
.circle_btn_main {
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  margin: 15px 15px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #eeeeee;
  background: #3498db;
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}
/* line 141, sass/partials/_buttons.scss */
.circle_btn_main i {
  margin-top: 20px;
  font-size: 50px;
}
/* line 145, sass/partials/_buttons.scss */
.circle_btn_main:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  top: -5px;
  left: -5px;
  padding: 5px;
  box-shadow: 0 0 0 4px #3498db;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(0.8);
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transition: transform 0.2s, opacity 0.2s;
  transform: scale(0.8);
  opacity: 0;
}
/* line 168, sass/partials/_buttons.scss */
.circle_btn_main:hover {
  background: #22a7f0;
  color: #eeeeee;
}
/* line 171, sass/partials/_buttons.scss */
.circle_btn_main:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

/* line 181, sass/partials/_buttons.scss */
.text_below {
  color: #3498db;
  font-size: 18px;
  margin-top: 30px;
}

/* line 187, sass/partials/_buttons.scss */
.fa-spin2 {
  -webkit-animation: spin 15s infinite linear;
  -moz-animation: spin 15s infinite linear;
  -o-animation: spin 15s infinite linear;
  animation: spin 15s infinite linear;
}

/* line 197, sass/partials/_buttons.scss */
.circle_btn_small {
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  margin: 10px 10px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #eeeeee;
  background: #3498db;
  box-shadow: 0px 2px 2px rgba(43, 48, 51, 0.3);
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}
/* line 214, sass/partials/_buttons.scss */
.circle_btn_small i {
  margin-top: 15px;
  font-size: 40px;
}
/* line 218, sass/partials/_buttons.scss */
.circle_btn_small:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  top: -3px;
  left: -3px;
  padding: 3px;
  box-shadow: 0 0 0 4px #3498db;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(0.8);
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transition: transform 0.2s, opacity 0.2s;
  transform: scale(0.8);
  opacity: 0;
}
/* line 241, sass/partials/_buttons.scss */
.circle_btn_small:hover {
  background: #3498db;
  color: #eeeeee;
}
/* line 244, sass/partials/_buttons.scss */
.circle_btn_small:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

/* line 254, sass/partials/_buttons.scss */
.text_below_small {
  color: #3498db;
  font-size: 16px;
  margin-top: 25px;
}

@media screen and (max-width: 968px) {
  /* line 262, sass/partials/_buttons.scss */
  .circle_btn_small {
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    margin: 10px 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #eeeeee;
    background: #3498db;
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
  }
  /* line 278, sass/partials/_buttons.scss */
  .circle_btn_small i {
    margin-top: 7px;
    font-size: 25px;
  }
  /* line 282, sass/partials/_buttons.scss */
  .circle_btn_small:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    top: -3px;
    left: -3px;
    padding: 3px;
    box-shadow: 0 0 0 4px #3498db;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(0.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(0.8);
    opacity: 0;
  }
  /* line 305, sass/partials/_buttons.scss */
  .circle_btn_small:hover {
    background: #3498db;
    color: #eeeeee;
  }
  /* line 308, sass/partials/_buttons.scss */
  .circle_btn_small:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  /* line 318, sass/partials/_buttons.scss */
  .text_below {
    color: #1e8bc3;
    font-size: 15px;
    margin-top: 15px;
  }
}
/* line 328, sass/partials/_buttons.scss */
.circle_btn_smallest {
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  margin: 10px 1px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #eeeeee;
  background: #f27935;
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}
/* line 344, sass/partials/_buttons.scss */
.circle_btn_smallest i {
  margin-top: 10px;
  font-size: 30px;
}
/* line 348, sass/partials/_buttons.scss */
.circle_btn_smallest:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  top: -3px;
  left: -3px;
  padding: 3px;
  box-shadow: 0 0 0 4px #f27935;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(0.8);
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transition: transform 0.2s, opacity 0.2s;
  transform: scale(0.8);
  opacity: 0;
}
/* line 371, sass/partials/_buttons.scss */
.circle_btn_smallest:hover {
  background: #f27935;
  color: #eeeeee;
}
/* line 374, sass/partials/_buttons.scss */
.circle_btn_smallest:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

/* line 384, sass/partials/_buttons.scss */
.text_below_smallest {
  color: #f27935;
  font-size: 12px;
  margin-top: 20px;
}

/* line 392, sass/partials/_buttons.scss */
.sharepage_btn i {
  font-size: 1em;
}

/* line 51, sass/partials/_page.scss */
/* line 397, sass/partials/_buttons.scss */
.icon-twitter {
  background-color: #00aced;
  color: white;
}

/* line 54, sass/partials/_page.scss */
/* line 402, sass/partials/_buttons.scss */
.icon-twitter:hover {
  background-color: #8bdfff;
}

/* line 59, sass/partials/_page.scss */
/* line 407, sass/partials/_buttons.scss */
.icon-facebook {
  min-width: 15px;
  background-color: #3b5998;
  color: white;
}

/* line 63, sass/partials/_page.scss */
/* line 413, sass/partials/_buttons.scss */
.icon-facebook:hover {
  background-color: #758ab6;
}

/* line 68, sass/partials/_page.scss */
/* line 418, sass/partials/_buttons.scss */
.icon-gplus {
  background-color: #dd4b39;
  color: white;
}

/* line 71, sass/partials/_page.scss */
/* line 423, sass/partials/_buttons.scss */
.icon-gplus:hover {
  background-color: #e78174;
}

/* line 76, sass/partials/_page.scss */
/* line 428, sass/partials/_buttons.scss */
.hidethis_btn {
  font-size: 14px;
  margin-left: 5px;
}

/*
==================DESKTOP NAVIGATION====================
*/
/* line 6, sass/partials/_navigation.scss */
.nav {
  background-color: #1e8bc3;
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
/* line 12, sass/partials/_navigation.scss */
.nav ul {
  padding: 0px;
  margin: 0px;
}
/* line 16, sass/partials/_navigation.scss */
.nav li {
  display: inline;
  padding: 10px;
  margin: 0px;
}
/* line 20, sass/partials/_navigation.scss */
.nav li:hover {
  box-shadow: 0px -5px 0px 0px #22a7f0 inset;
}
/* line 23, sass/partials/_navigation.scss */
.nav li:active {
  background-color: #3498db;
}
/* line 27, sass/partials/_navigation.scss */
.nav a {
  font-size: 1em;
  color: #eeeeee;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 30px;
  margin: 0px;
}

/*
==================HIDDEN NAVIGATION====================
*/
/* line 42, sass/partials/_navigation.scss */
.wrapper {
  position: relative;
  margin: 0 auto;
}

/* line 47, sass/partials/_navigation.scss */
.menu-link {
  color: #eeeeee;
  position: absolute;
  font-size: 1.5em;
  padding: 0.25em 0.5em;
  background-color: #3498db;
  text-decoration: none;
  z-index: 100;
}
/* line 55, sass/partials/_navigation.scss */
.menu-link:hover {
  background-color: #22a7f0;
}
/* line 58, sass/partials/_navigation.scss */
.menu-link:active {
  background-color: #3498db;
}

/* line 63, sass/partials/_navigation.scss */
.subtitle {
  text-align: center;
  font-size: 1.125em;
  margin: .5em 0;
}

/* line 69, sass/partials/_navigation.scss */
.btn-list {
  margin: 3em 0;
  text-align: center;
}
/* line 72, sass/partials/_navigation.scss */
.btn-list li {
  display: inline-block;
}
/* line 74, sass/partials/_navigation.scss */
.btn-list li:first-of-type {
  margin-right: 1em;
}

/*
==================HIDDEN NAVIGATION PANEL====================
*/
/* line 96, sass/partials/_navigation.scss */
.panel {
  text-transform: uppercase;
  background: #3498db;
  z-index: 9999;
  position: fixed;
  left: -15.625em;
  /*or width of your navigation panel*/
  width: 15.625em;
  /*should match the above value*/
}
/* line 103, sass/partials/_navigation.scss */
.panel ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
/* line 107, sass/partials/_navigation.scss */
.panel ul li {
  padding: 1em;
  box-shadow: 0px -1px 0px 0px #22a7f0 inset;
}
/* line 110, sass/partials/_navigation.scss */
.panel ul li:hover {
  background-color: #22a7f0;
}
/* line 114, sass/partials/_navigation.scss */
.panel ul a {
  color: #dadfe1;
  padding: 1em;
}
/* line 117, sass/partials/_navigation.scss */
.panel ul a.nav_link {
  font-size: 1.2em;
}
/* line 120, sass/partials/_navigation.scss */
.panel ul a i {
  margin-right: 10px;
}

/* line 127, sass/partials/_navigation.scss */
.nav-icon {
  margin-right: 6px;
}

/* line 1, sass/partials/_tables.scss */
table {
  background-color: #dadfe1;
}
