body {
	font-family:Helvetica, Arial, sans-serif;
	margin:0;
	font-size:100%;
 	background-color: rgba(236, 240, 241, 1.0);
}

a {
	padding: 0px;
}

/*  IMAGES  */

img.ri {
	position: relative;
	max-width: 100%;
}

img.ri:empty {
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	-o-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
}

/*COLOURS*/
/*
LIGHTEST: #3498db
MAIN BLUE: #2980b9
DARKEST BLUE: #20638f
*/

/*  BUTTONS   */

.btn {
	padding: auto;
	margin: 0px auto;
	display: inline-block;
	text-decoration: none;
	outline: none;
	position: relative;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
}

a .btn {
  font-family: sans-serif;
  color: #fff;
  font-size: 0.8em
}

.btn:hover {
  outline: 0 6px #852f2f;
  top: 0px;
}

.btn:active {
  box-shadow: 0 0 #852f2f;
  top: 0px;
}

.blue {
	background-color: #2980b9;
}

.blue:hover {
	background-color: #3498db;
	box-shadow: 0px -2px 0px 0px #20638f inset;
}

.blue:active {
	background-color: #2980b9;
}


/*  SIDEBAR LINKS  */







